{{#is "post"}}
    <aside class="">
        {{#primary_author}}
            <figure class="">
                {{#if profile_image}}
                    <img src="{{profile_image}}" alt="{{name}}">
                {{else}}
                    <div class="">{{> icons/avatar}}</div>
                {{/if}}
            </figure>

            <h4 class="">
                <a href="{{url}}">{{name}}</a>
            </h4>
        {{/primary_author}}

        <div class="font-sans text-sm text-gray-600">
            <time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
            {{#if reading_time}}
                &bull;
                <span>{{reading_time minute="1 min" minutes="% min"}}</span>
            {{/if}}
            {{#if canonical_url}}
                <br />
                <a class="border-b-0 hover:border-b hover:border-green-600" href="{{canonical_url}}">{{canonical_url}}</a>
            {{/if}}
        </div>
    </aside>
{{/is}}