<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">

    {{ghost_head}}
</head>

<body class="{{body_class}}{{{block "body_class"}}} {{#if @site.description}}is-head-b--a_n{{else}}is-head-b--n--a{{/if}}{{#match @custom.title_font "=" "Elegant serif"}} has-serif-title{{/match}}{{#match @custom.body_font "=" "Elegant serif"}} has-serif-body{{/match}}{{#is "tag"}}{{#if tag.feature_image}} is-head-transparent{{/if}}{{/is}}{{#match @custom.header_style "Accent color"}} is-head-brand{{/match}}{{#match @custom.header_style "Dark"}} is-head-dark{{/match}}">
    <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:divide-y lg:divide-gray-200 lg:px-8">
        <header id="" class="">
            <div class=">
                {{#if @site.description}}
                    <a class="" href="{{@site.url}}">{{@site.description}}</a>
                {{/if}}

                <div class="">
                    <div class="">
                        <a class="" href="{{@site.url}}">
                            {{#if @site.logo}}
                                <img src="{{@site.logo}}" alt="{{@site.title}}" class="block lg:hidden h-8 w-auto">

                                {{#if @custom.white_publication_logo_for_transparent_header}}
                                    <img src="{{@custom.white_publication_logo_for_transparent_header}}" alt="{{@site.title}}" class="block lg:hidden h-8 w-auto">
                                {{/if}}
                            {{else}}
                                {{@site.title}}
                            {{/if}}
                        </a>
                    </div>
                    <button class="" data-ghost-search>{{> "icons/search"}}</button>
                    <button class=""></button>
                </div>

                <nav class="">
                    {{navigation}}
                </nav>

                <div class="">
                    <button class=" data-ghost-search>{{> "icons/search"}}</button>
                    {{#unless @member}}
                        <a class="" href="#/portal/signup" data-portal="signup">Subscribe</a>
                    {{else}}
                        <a class="" href="#/portal/account" data-portal="account">Account</a>
                    {{/unless}}
                </div>
            </div>
        </header>

        {{!-- {{navigation}} --}}

        {{{body}}}

        <footer class="bg-black" aria-labelledby="footerHeading>
            <div class="max-w-7xl mx-auto py-6 lg:py-8 flex flex-auto items-center justify-between font-sans">
                <div class="w-full grid grid-cols-2 md:grid-cols-4 gap-2 lg:gap-8 xl:mt-0">
                    <div class="mx-4 md:mx-auto mt-2 md:mt-0"></div>
                        {{^if @member.paid}}
                            <section class="">
                                {{^if @member}}
                                    <h4 class="">Subscribe to {{@site.title}}</h3>

                                    {{#if @custom.email_signup_text}}
                                        <div class="">{{@custom.email_signup_text}}</div>
                                    {{/if}}

                                    <button class="" data-portal="signup">{{> "icons/email"}} Subscribe now</button>
                                {{else}}
                                    <h3 class="">Ready for unlimited access?</h3>

                                    <div class="">Upgrade to a paid account to get full access to all content.</div>

                                    <button class="" data-portal="account/plans">Upgrade now</button>
                                {{/if}}
                            </section>
                        {{/if}}

                        <nav class=">
                            {{navigation type="secondary"}}
                        </nav>

                        <div class="">
                            {{#unless @custom.footer_text}}
                                {{@site.title}} © {{date format="YYYY"}}. Powered by <a href="https://ghost.org/" target="_blank" rel="noopener">Ghost</a>
                            {{else}}
                                {{@custom.footer_text}}
                            {{/unless}}
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    {{#is "post, page"}}
        {{> "pswp"}}
    {{/is}}

    <script src="{{asset "built/main.min.js"}}"></script>

    {{ghost_foot}}
</body>

</html>